[submodule "modules/common/galera"]
	path = modules/common/galera
	url = https://github.com/olindata/puppet-galera
[submodule "modules/common/haproxy"]
	path = modules/common/haproxy
	url = https://github.com/olindata/puppetlabs-haproxy
[submodule "modules/common/apt"]
	path = modules/common/apt
	url = https://github.com/olindata/puppetlabs-apt
[submodule "modules/common/augeas"]
	path = modules/common/augeas
	url = https://github.com/olindata/puppet-augeas
[submodule "modules/common/stdlib"]
	path = modules/common/stdlib
	url = https://github.com/olindata/puppetlabs-stdlib
[submodule "modules/common/mysql"]
	path = modules/common/mysql
	url = https://github.com/olindata/puppetlabs-mysql
[submodule "modules/common/xinetd"]
	path = modules/common/xinetd
	url = https://github.com/olindata/puppetlabs-xinetd.git
[submodule "modules/common/ssh"]
	path = modules/common/ssh
	url = https://github.com/olindata/puppet-ssh.git
[submodule "modules/common/ntp"]
	path = modules/common/ntp
	url = https://github.com/olindata/puppetlabs-ntp.git
[submodule "modules/common/network"]
	path = modules/common/network
	url = https://github.com/olindata/puppet-network.git
